apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: "systemd"
protectKernelDefaults: true
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
nodeRegistration:
  criSocket: "unix:///var/run/containerd/containerd.sock"
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ kube_api_server_vip }}:8443"
    token: "{{ kubeadm_bootstrap_token }}"
    caCertHashes:
      - "sha256:{{ kubeadm_ca_cert_hash }}"
controlPlane:
  certificateKey: "{{ kubeadm_uploaded_certs }}"
  localAPIEndpoint:
    advertiseAddress: "{{ host_addr_cls }}"
    bindPort: 6443